html,
body {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    background-image: url("resimler/Colorful-Planet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gm-style {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
}

.üst{
    width: 65px;
    height: 65px;
}

.banner {
    width: 65px;
    height: 65px;
}

#map {
    height: 80rem;
    width: 110rem;
    border: 2px solid rgb(245, 147, 0);
    border-radius: 20px;
}

.ilceler {
    margin: 20px;
    width: 450px;
    margin-top: 50px;
}

#ilceler {
    margin-bottom: 30px;
}

.mahalleler {
    width: 450px;
}

.ilk,
.ikinci {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    width: 1620px;
    height: 800px;
}

.solekran {
    width: 600px;
    height: 800px;
    background: radial-gradient(ellipse at left, #6f07b4, transparent),
        radial-gradient(ellipse at right, #b10547, transparent);
    border-radius: 20px;
}

.bosluk {
    width: 500px;
    height: 250px;
}

.ikinci{
    display: flex;
    justify-content: center;
}
.banner {
    width: 275px;
    height: 65px;
    margin-left: 110px;
}

.banner:hover {
    border-left: 5px solid rgb(245, 147, 0);
}


.altbosluk{
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-self: center;
}

#gizle, #göster{
    width: 100px;
    height: 50px;
    border-radius: 15px;
}

#gizle:hover{
    background-color: orange;
}

#göster:hover{
    background-color: orange;
}

.bilgiişlemyazısı{
    text-align: center;
}

.bilgiişlemyazısı h4{
    font-size: 15px;
    color: blanchedalmond;
}




